* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

.main-container {
    margin: 0 auto;
    max-width: 1000px;
}

.content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#canvas-board {
    width: 600px;
    height: 300px;
    margin: 30px 0;
    border: 1px solid #000;
    image-rendering: pixelated;
}
